:javascript
  $(function() {
    window.movies = new Movies(#{@movies.to_json});
    window.pageState = new PageState();
    new MapView();
    new InputView();
    new ResultsViews();
    new MovieView();
    new SuggestionsView();
  });
