:javascript
  $(function() {
    window.movies = new Movies(#{@movies.to_json});
    window.query = new Query();
    new MapView();
    new SearchInputView();
    new SearchResultsViews();
    new CurrentMovieView();
    new SuggestionsView();
  });
