.main-wrapper
  .input-wrapper
    %input{:type => "text", :class => "form-control input-lg", :placeholder => "Search for a movie filmed in San Francisco"}
    %i.fa.fa-search
  .suggestions
  .search-results
  .current-movie


