.input-wrapper
  %p.input-label Search for a movie filmed in San Francisco:
  %input{:type => "text", :class => "form-control input-lg", :placeholder => "eg. Bullitt, Vertigo, The Conversation."}
  .search-results
