// TODO - Extract those variables
$margin-full-width: 25%;
$margin-narrow-width: 10%;
$responsive-threshold: 768px;

.main-wrapper {
  position: absolute;
  z-index: 10;
  min-width: 600px;
  top: 30px;
  left: $margin-full-width;
  right: $margin-full-width;
  text-align: center;
  border: solid rgb(100, 100, 100);
  padding: 20px 20px 12px 20px;
  background-color: white;
  border-radius: 5px;

  @media screen and (max-width: $responsive-threshold) {
    left: $margin-narrow-width;
    right: $margin-narrow-width;
    min-width: 0px;
  }

  .input-wrapper {
    position: relative;
    .fa-search {
      position: absolute;
      top: 13px;
      left: 13px;
      font-size: 1.5em;
      color: rgba(150, 150, 150, 1);
      font-weight: bold;
    }
    input {
      padding-left: 46px;
      margin-bottom: 12px;
    }
  }
}
