.input-wrapper {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 25%;
  right: 25%;
  text-align: center;
  .input-label {
    font-size: 24px;
    text-shadow: white 1px 1px 1px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
  }
}
