// TODO - Extract those variables
$margin-full-width: 25%;
$margin-narrow-width: 10%;
$responsive-threshold: 768px;

.main-wrapper {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: $margin-full-width;
  right: $margin-full-width;
  text-align: center;

  @media screen and (max-width: $responsive-threshold) {
    left: $margin-narrow-width;
    right: $margin-narrow-width;
  }
  .input-wrapper {
    position: relative;
    .fa-search {
      position: absolute;
      top: 13px;
      left: 13px;
      font-size: 1.5em;
      color: rgba(150, 150, 150, 1);
      font-weight: bold;
    }
    input {
      padding-left: 46px;
    }
  }
}
